* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "HiraMinPro-W6";
}

header {
  height: 65px;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  
}

.header-left {
  color: white;
  opacity: 0.7;
  padding-left: 40px;
  line-height: 65px;
  display: block;
}

.top-wrapper {
  background-image: url(435839_s.jpg);
  background-size: cover;
  padding: 200px 0 200px 40px;
  text-align: left;
}

.top-wrapper h2 {
  opacity: 0.7;
  letter-spacing: 5px;
  font-size: 45px;
  font-weight: bold;
}

.top-wrapper p {
  opacity: 0.7;
}

.menu {
  background-color: #fffaf0;
  padding: 200px 0 200px 40px;
  text-align: left;
}

.chef-photo {
  max-width: 25%;
  float: right;
  margin: 0 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.menu {
  background-color: #fffaf0;
  padding: 200px 0 200px 40px;
  text-align: left;
}



.index {
  background-color: #fff5ee;
  color:#696969;
}

.btn {
  padding: 8px 24px;
  display: inline-block;
  opacity: 0.7;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.section-title {
  font-size: 29px;
  border-bottom: 3px solid #dee7ec;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.footer {
  text-align: center;
}

@media all and (max-width: 1000px) {

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {

  .top-wrapper .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}
